@{

	Layout = "/views/Shared/_AddLayout.cshtml";
}



<div class="main_section">
	<div class="container">
		<h1 class="index-titles">Man & Woman Fashion</h1>
		<div class="main_section_2">
			<div class="row">
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Man T-shirt</h4>
						<div class="tshirt_img"><img src="~/Ecommroot/images/tshirt-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Man shirt</h4>
						<div class="tshirt_img"><img src="~/Ecommroot/images/dress-shirt-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Woman Scart</h4>
						<div class="tshirt_img"><img src="~/Ecommroot/images/women-clothes-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End fashion section -->
<!--------------------------------------------------------------------------------------->
<!-- Start electronic section -->
<div class="main_section">
	<div class="container">
		<h1 class="index-titles">Electronic</h1>
		<div class="main_section_2">
			<div class="row">
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Laptop</h4>
						<div class="electronic_img"><img src="~/Ecommroot/images/laptop-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Mobile</h4>
						<div class="electronic_img"><img src="~/Ecommroot/images/mobile-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Computers</h4>
						<div class="electronic_img"><img src="~/Ecommroot/images/computer.jpg"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_________________________________End electronic section______________________________-->
<!----------------------------------------------------------------------------------------->
<!--_________________________________Start Software section_____________________________ -->
<div class="main_section">
	<div class="container">
		<h1 class="index-titles">Software</h1>
		<div class="main_section_2">
			<div class="row">
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Books</h4>
						<div class="software_img"><img src="~/Ecommroot/images/Parallels desktop.jpg"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Operating Systems</h4>
						<div class="software_img mt-5"><img src="~/Ecommroot/images/windows10.jpg"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Programming & Web Development</h4>
						<div class="software_img mt-4"><img src="~/Ecommroot/images/Introduction_SQL.jpg"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
<!-- _______________________________________End software section __________________________________________-->
<!----------------------------------------------------------------------------------------------------------->
<!-- _______________________________________Start jewellery  section______________________________________ -->
<div class="main_section">
	<div class="container">
		<h1 class="index-titles">Jewellery Accessories</h1>
		<div class="main_section_2">
			<div class="row">
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Jumkas</h4>
						<div class="jewellery_img"><img src="~/Ecommroot/images/jhumka-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Necklaces</h4>
						<div class="jewellery_img"><img src="~/Ecommroot/images/neklesh-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-4">
					<div class="main_box">
						<h4 class="box_header">Kangans</h4>
						<div class="jewellery_img"><img src="~/Ecommroot/images/kangan-img.png"></div>
						<div class="content">
							<div class="buy_bt"><a href="#">Buy Now</a></div>
							<div class="seemore_bt"><a href="#">See More</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End jewellery section-->
<!------------------------------------------------------------------------------------------------->